/* Hiding sections minus title */
:root {
  --primary-clr: #9b6cd4;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  background-color: #595c69;
  color: #fcfcfc;
}

header {
  background-color: var(--primary-clr);
  margin: 1.3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #595c69;
}

section {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 40vh;
  background-color: #595c69;
  padding: 10px;
}
.hide {
  visibility: hidden;
}

.show {
  display: block;
}
h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-shadow: 0 0 5px #595c69;
}

p {
  padding: 0 10%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 350px;
}

#startButton {
  display: block;
  margin: 0 auto;
  color: #fcfcfc;
}

.choice {
  display: block;
  margin-top: 10px;
}
#Increase {
  font-size: 50px;
  text-align: center;
}

input {
  border: 0;
  outline: 0;
  background: #986dd4;
  color: #391101;
  margin: 1rem 0;
  font-size: 1.7rem;
  border-radius: 4px;
  transition: all 300ms ease;
}
input:focus {
  background: rgb(219, 236, 251);
}
.wrong {
  background-color: rgb(155, 42, 64);
}
.correct {
  background-color: rgb(70, 242, 144);
}

/* not sure what this is 
.neutral {
<<<<<<< Updated upstream
  background-color: aliceblue;
}
=======
  /* background-color: aliceblue;
} */
>>>>>>> Stashed changes

img {
  width: 90px;
}

.score {
  display: flex;
  position: absolute;
  /* top: 50; */
  left: 50%;
  transform: translate(-50%);
  background-color: var(--primary-clr);
  padding: 2rem;
  box-shadow: 0 0 10px #595c69;
  border-radius: 15px;
}

.score:hover {
  background-color: #75d461;
  color: #fcfcfc;
  /* transform: scale(1.1); */
  box-shadow: 0 0 10px #595c69;
}

.score img {
  margin: 0 20px 0 0;
}

button {
  outline: none;
  border: none;
  background-color: var(--primary-clr);
  padding: 0.5rem 1.2rem;
  margin-top: 3px;
  border-radius: 6px;
  transition: all 200ms ease;
}

button:hover {
  background-color: #75d461;
  color: #fcfcfc;
  transform: scale(1.1);
  box-shadow: 0 0 10px #595c69;
}

button:focus {
  outline: 0;
}

::-moz-selection{
  background-color: #695965;
  color: #fcfcfc;
}

::selection{
background-color: #695965;
color: #fcfcfc;
}

.random-word{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  word-spacing: 1px;
  text-shadow: 0 0 5px #595c69;
}

.input-container{
  color: #fcfcfc;
}
